* {
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}




.subnav-hero-section {
    text-align: center;
    /* background: #1779ba; */
    background-image: url('./images/bitcoin-image.jpeg');
    background-size: cover;
    position: relative;
    overflow: visible;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 300px;
  }

/* feature article link */

.feature-article{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.feature-article .title{
    color: black;
    font-weight: 600;
    font-size: 3rem;
}
.feature-article .title:hover {
    color:  rgb(10, 10, 109);
}
.newsimg {
    width: 100rem;
    height: 30rem;
    margin-right: 5rem;
}


  
  


/* crypto market top movers */
.crypto-market {
    position: relative;
    display: table;
    width: 0%;
    padding: 0%;
}

.market-card {
    flex-wrap: nowrap;
    margin-top: 4rem;
    

    
}

.cryptoCard {
    background-color: green;
    width: 200px;
    
}

.cryptoCard img {
    max-width: 1rem;
    max-height: 1rem 
}


.marketCard-row {
    -webkit-box-pack: justify;
    display: flex;
    justify-content: space-between;
}


.imgandpchange {
    -webkit-box-pack: justify;
    display: flex;
    justify-content: space-between;
}


.hyperlink h4{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.marketMoverCard h3{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(10, 10, 109);;
}

.marketMoverCard {
    border: none;
}



/*Right middle site content*/

#marketMovers {
    margin-top: 30px;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5rem;
    margin-right: 5rem;
}

.media-object {
    border-bottom: solid;
    border-color: grey;
}

 
.Name-Change-Row {
 -webkit-box-pack: justify;
  display: flex;
  justify-content: space-between;
  background-color:ivory;
}

.Name-Change-Row h6 {

text-transform: uppercase;

}
.SymbolandPricerow {
    -webkit-box-pack: justify;
    display: flex;
    justify-content: space-between;

}
.SymbolandPricerow h5 {
    text-align: left;
    font-weight: 800;
    display: flex;
    text-transform: uppercase;
}

.news {
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: solid;
    border-color: rgb(179, 179, 179);
    margin-bottom: 2rem;
    color: rgb(10, 10, 109);
}

