*
/*full site background*/ {
    box-sizing: border-box;
}

.crypto-market {
    position: relative;
    display: table;
    width: 100%
}

.market-card {
    flex-wrap: nowrap;
    margin-top: 20px;
}

.cryptoCard {
    background-color: green;
    width: 200px;
    justify-content: space-between;
}

.cryptoCard img {
    max-width: 1rem;
    max-height: 1rem 
}


.marketCard-row {
   display: flex;
   align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.marketimg {
    text-align: left;
}

.pricechanges {
    text-align: right;
}

.hyperlink h4{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.marketMoverCard h3{
    text-align: center;
}

.card-section {
    display: flex;
    flex-direction: column;
}

.marketRow {
    display: flex;
    flex: row;
    justify-content: space-between;
}

.Name-Change-Row {
  text-align: right;
}
