*
/*full site background*/ {
    box-sizing: border-box;
}



.market-card {
    flex-wrap: nowrap;
    margin-top: 20px;
}

.cryptoCard {
    background-color: green;
    width: 200px;
    justify-self: stretch;
}

.cryptoCard img {
    max-width: 2rem;
    max-height: 2rem 
}



